.messageUpload {
  position: fixed;
  width: 24rem;
  height: 9rem;
  right: 0;
  bottom: 0;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  background-color: #fff;
}
