@import url("../../../common/color.scss");

.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  top: 0;

  &__window {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 25rem;
    height: 15.6rem;
    border-radius: 1rem;
    background-color: #fff;
    padding: 1rem;
  }

  &__close {
    position: absolute;
    right: 1rem;
    top: 0.2rem;
    font-size: 2.5rem;
    cursor: pointer;
    color: #000;
  }

  &__close:hover {
    color: var(--colorFont);
  }
}
