@import url("../../../../common/color.scss");

.file {
  display: grid;
  grid-template-columns: 1fr 4fr repeat(4, 1fr);
  padding: 1rem;
  border-bottom: 1px solid rgb(184, 180, 180);
  cursor: pointer;

  &__name {
    display: flex;
    align-items: center;

    & svg,
    img {
      margin-right: 0.4rem;
    }

    img {
      width: 17%;
    }
  }

  &__date {
    padding-left: 0.7rem;
    grid-column-start: 4;
  }

  &__size {
    padding-left: 0.9rem;
    grid-column-start: 6;
  }

  &:hover {
    background-color: var(--styleHover);
  }
}
