@import url("../../../../common/color.scss");

.file {
  display: grid;
  grid-template-columns: 1fr 4fr repeat(4, 1fr);
  padding: 1rem;
  border-bottom: 1px solid rgb(184, 180, 180);
  cursor: pointer;

  &__name {
    display: flex;
    align-items: center;

    & svg {
      margin-right: 0.6rem;
    }

    & span {
      width: 7rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__date,
  &__download {
    padding-left: 0.7rem;
    grid-column-start: 4;
  }

  &__size {
    padding-left: 0.3rem;
    grid-column-start: 6;
  }

  &__download,
  &__remove {
    display: none;
    padding: 0.2rem;
    font-size: 1.1rem;
    text-align: center;
    border: 2px dashed black;

    &:hover {
      background-color: rgb(226, 117, 14);
    }
  }

  &__remove {
    grid-column-start: 5;
    margin-left: 1rem;
  }

  &:hover {
    background-color: var(--styleHover);

    & .file__size,
    & .file__date {
      display: none;
    }

    & .file__download,
    & .file__remove {
      display: block;
    }
  }
}
