@import url("../../../common/color.scss");

.header {
  display: flex;
  align-items: center;
  height: 4rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0.6rem 1.5rem;

  img {
    height: 100%;
  }

  &__logo {
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;

    span {
      font-size: 1.5rem;
      margin-left: 0.9rem;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.6);
    }
  }

  &__panelOptions {
    margin-left: auto;

    a,
    span {
      color: rgb(0, 0, 0);
      font-size: 1.3rem;
      cursor: pointer;
      font-weight: 500;
    }

    a:hover,
    span:hover {
      color: var(--colorFont);
    }

    a:last-child {
      margin-left: 1rem;
    }
  }
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20rem 0 auto;
  background-color: #e8e9ea;
  width: 31rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;

  & .input__wrapper {
    height: inherit;

    & .input {
      margin: 0;
      border: 0;
      font-size: 1rem;
      background-color: transparent;
    }
  }
}
